<h1>Artist</h1>

<% streetArts.forEach(streetArtist => { %>
  <h2>
    <a href="/streetart/<%= streetArtist.id %>"></a>
  </h2>
  <h4><%= streetArtist.nationality %></h4>
<% }) %>
<ul class="columns is-multiline">
  <% streetArts.forEach((streetArt) => { %>
    <li class="column is-half">
      <div class="box">
        <a href="/streetart/<%= streetArt.id %>"><h3 class="title is-3"><%= streetArt.name %></h3></a>
        <div ><%= streetArt.images %> </div>
        <p><%= streetArt.comment %></p>
      </div>
    </li>
  <% }); %>
</ul>
